<%= form_for @action, as: :action, :html => {:class => "form-horizontal"}, :url => url_for(:controller => 'actions', :action => 'create') do |f| %>

  <p>
    <%= f.label :brother_id, "Brother:  " %>
    <%= f.collection_select(:brother_id, Brother.findAllByFraternityID(current_brother.fraternity.id), :id, :full_name, include_blank: true) %>
  </p>

  <p>
    <%= f.label :rushee_id, "Rushee:  " %>
    <%= f.collection_select(:rushee_id, current_brother.fraternity.rushees, :id, :full_name, include_blank: true) %>
  </p>


  Description:
  <p>
    <%= f.text_area :description %>
  </p>
 
  
  
    <%= f.submit %>
 

<% end %> 
