<%= form_tag(action: :addRushee, method: "post", class: "form-horizontal") do %>
  <%= hidden_field_tag :event_id, @event.id %>
  <%= label_tag :attendance, "Add Rushee: " %> 
  <%= collection_select(:attendance, :rushee_id, @event.nonAttendingRushees, :id, :full_name, include_blank: true) %>
<br>
<br>

  <div class="actions">
    <%= submit_tag("Add Rushee") %>
  </div>

<% end %>