<% if flash[:notice] %>
  <h2 class="flash-notice"><%= flash[:notice] %></h2>
<% end %>
<%= yield %>
<h1><%= @event.name%> Event Details</h1>
<h3>Event Date: <%= @event.date.strftime("%d-%m-%Y") %></h3>

<h3>Attending Rushees:</h3>
<ul>
  <% if @rushees %>
    <% @rushees.each do |rushee| %>
      <li><%= link_to rushee.firstname + " " + rushee.lastname, rushee_path(rushee) %></li>
    <% end %>
  <% end %>
</ul>

<br>

<%= render 'form_add_rushee' %>
