<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.text_field :firstname, :autofocus => true, placeholder: "First name" %></div>

  <div><%= f.text_field :lastname, placeholder: "Last name" %></div> 

  <div><%= f.email_field :email, placeholder: "Email address" %></div>

  <div><%= f.password_field :password, placeholder: "Password" %></div>

  <div><%= f.password_field :password_confirmation, placeholder: "Confirm password" %></div>

  <%# Hard-coded to only support one fraternity  %>
  <div><%= f.hidden_field :fraternity_id, value: 1 %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
