<%= link_to "New Rushee", new_rushee_path %>
<ul class="rushees">
    <% @rushees.each do |rushee| %>
      <li>
        <div class="rushee-outer">
          <%= image_tag(rushee.picture.url(:medium), class: "rushee-image") %>
            <div class="rushee-hover hideable">
              <%= link_to rushee_path(rushee) do %>
                <p class="rushee-name"><%= "#{rushee.firstname} #{rushee.lastname}" %></p>
              <% end %>
              <i class="fa fa-check fa-2x overlay-btn" data-rushee-id=<%= rushee.id %> ></i>
              <i class="fa fa-arrow-up fa-2x overlay-btn" data-rushee-id=<%= rushee.id %> ></i>
            </div>
        </div>
      </li>
    <% end %>
</ul>

<table border="0">
  <tr>
  <td valign="top">
    <h3>Rush Action Feed</h3>
    <% loopd = 0 %>
    <% @actions.reverse_each do |action| %>
      <p><%= link_to action.description, rushee_path(action.rushee_id) %> (<%= time_ago_in_words(action.created_at) %> ago)</p>
      <% loopd = loopd + 1 %>
      <% break if loopd >= @max_feed %>
    <% end %>
  </td>
</tr>
</table>
