<h1>Rushees Index of <%= current_brother.fraternity.name %></h1>
<ul>
  <li><a href="/rushees/new">Add Rushee</a></li>
</ul>


<table class="table">

  <% i = 0 %>
  <% while i < @rushees.length %>
    <tr>
      <% count = 0 %>
      <% for col in 0...@cols %>
        <td>
          <% if @rushees[i+col] != nil %>
            <% rushee = @rushees[i+col] %>
            <% if rushee.picture? %>
              <div id="picture-holder2">
                <a href="/rushees/<%= rushee.id %>">
                  <%= image_tag rushee.picture.url(:medium) %>
                </a>
              </div>
            <% else %>
              <div id="picture-holder">
                <a href="/rushees/<%= rushee.id %>">
                  <%= image_tag rushee.picture.url(:medium) %>
                </a>
              </div>
            <% end %>
        
            <h4><%= link_to "#{rushee.firstname} #{rushee.lastname}", rushee_path(rushee) %></h4>
            <ul>
              <% if rushee.hometown? %><li>From <%= rushee.hometown %></li><% end %>
              <% if rushee.dorm? %><li>Lives in <%= rushee.dorm %></li><% end %>
              <% if rushee.sports? %><li>Sports: <%= rushee.sports %></li><% end %>
            </ul>
            
            <% count = count + 1 %>
          <% end %>
        </td>
      <% end %>
    </tr>
    <% i = i + count %>
  <% end %> 

</table>
