<!DOCTYPE html>
<html>
  <head>
    <title>Presentation</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body id="presentationScreen">
      <table id="presentationTable">
        <tr>
          <td></td>
          <td id="exitCell">
            <%= link_to "Exit", rushees_path %>
          </td>
        </tr>
        <% if @rushees.any? %>
          <% rushee = @rushees.first %>
        <tr>
          <td id="pictureCell">
            <div id="picture-holder">
	            <%= image_tag rushee.picture.url(:medium), id: "slideImage" %>
            </div>
          </td>
          <td id="informationCell" data-id="" data-rails-id="">
              <%= link_to "#{rushee.firstname} #{rushee.lastname}", rushee_path(rushee), id: "slideName" %><br /><br />
              <p>
                Email: <span id="slideEmail"><%= rushee.email %></span><br />
                Primary Contact: <span id="slidePrimary"><%= rushee.assignedBrother %></span><br />
                Phone Number: <span id="slidePhone"><%= rushee.cellphone %></span><br />
                Facebook Page:  <span id="slidefaceBook"><%= rushee.facebook_url %></span><br />
                Dorm: <span id="slideDorm"><%= rushee.dorm %></span><br />
                Hometown: <span id="slideHometown"><%= rushee.hometown %></span><br />
                Sports: <span id="slideSports"><%= rushee.sports %></span><br />
                Also Rushing: <span id="slideCompetingFrats"><%= rushee.frats_rushing %></span><br /><br />
                
                Action Status: <span id="slideActionStatus"><%= rushee.action_status %></span><br />
                Bid?  <span id="slideBidStatus"><%= rushee.bid_status %></span>
              </p>                            
          </td>
        </tr>
        <% else %>
          No Rushees at this time.
        <% end %>  
        <tr id="slideNavRow">
          <td><a id="lastSlide" href="#">Back</a></td>
          <td><a id="nextSlide" href="#">Next</a></td>
      <table>    
  </body>

</html>
<script type="text/javascript">
  slideShow();
</script>


