<table width="800px">
  <tr>
    <td span="2">
      <h1 class="rushee_name"><%= "#{@rushee.firstname} #{@rushee.lastname}" %></h1>
    </td>
  </tr>
  <tr>
    <td valign="top">
        <div id="picture-holder">
          <p>Profile Picture</p>
        </div>
    </td>
    
    <td valign="top">
      <table class="table">
        <% if @rushee.brother %>
          <tr><td>Primary Contact</td><td><%= @rushee.brother.firstname + " "+ @rushee.brother.lastname %></td></tr>
        <% end %>
        <tr><td>Cellphone</td><td><%= @rushee.cellphone %></td></tr>
        <tr><td>Dorm & Room Number</td><td><%= @rushee.dorm + " " + @rushee.room_number %></td></tr>
        <tr><td>Sports</td><td><%= @rushee.sports %></td></tr>
        <tr><td>Cross Rushing</td><td><%= @rushee.frats_rushing %></td></tr>
        <tr><td>Home Town</td><td><%= @rushee.hometown %></td></tr>
        <tr><td>Email</td><td><%= @rushee.email %></td></tr>
        <tr><td>Action Status</td><td><%= @rushee.action_status %></td></tr>
        <tr><td>Bid Status</td><td><%= @rushee.bid_status %></td></tr>
        
      </table>
    </td>
  </tr>
</table>


<h3>Edit Information</h3>
<a href="#">Edit <%= "#{@rushee.firstname} #{@rushee.lastname}" %></a>

<h3>Comments</h3>
<div class="comments-container">
  <table class="table">
  <tr>
    <td>
    <%= form_tag( { :action => :comment }, { :method => :post }) %>
      
      
        <input type="hidden" name="id" value="<%= @rushee.id %>">
        <textarea style="width:450px;height:100px;" name="text"></textarea><br/>
        <input type="submit" value="Post Comment">
      </form>
    
    </td>
  </tr>
  <% if @comments.length > 0 %>
      <% @comments.reverse_each do |comment| %>
        <tr>
          <td>
            <a href="/accounts/detail/<%= comment.brother.id %>"><%= comment.brother.firstname + " " + comment.brother.lastname %></a> said <%= time_ago_in_words(comment.created_at) %> ago: <br/><br/><%= comment.text %>
          </td>
        </tr>
      <% end %>
    
  <% else %>
    <tr>
      <td>No comments yet.</td>
    </tr>
  <% end %>
  </table>
</div>
