<table width="800px">
<table width="1000px">
  <tr>
    <td span="2">
      <h1 class="rushee_name"><%= "#{@rushee.firstname} #{@rushee.lastname}" %></h1>
    </td>
  </tr>
  <tr>
    <td valign="top">
        <% if @rushee.picture? %>
          <div id="picture-holder2">
            <%= image_tag @rushee.picture.url(:medium) %>
          </div>
        <% else %>
          <div id="picture-holder">
            <%= image_tag @rushee.picture.url(:medium) %>
          </div>
        <% end %>
        
    </td>
    
    <td valign="top">
      <table class="table">
        <tr><td>Primary Contact</td>
          <td>
          <% if @rushee.primary_contact_id  %>
            <a href="/accounts/detail/<%= @rushee.primary_contact_id %>"><%= @rushee.primaryContactName %></a>
          <%  else %>
            None
          <% end %>
        </td></tr>
        <tr><td>Cellphone</td><td><%= @rushee.cellphone %></td></tr>
        <tr><td>Dorm & Room Number</td><td><%= @rushee.dorm + " " + @rushee.room_number %></td></tr>
        <tr><td>Sports</td><td><%= @rushee.sports %></td></tr>
        <tr><td>Cross Rushing</td><td><%= @rushee.frats_rushing %></td></tr>
        <tr><td>Home Town</td><td><%= @rushee.hometown %></td></tr>
        <tr><td>Email</td><td><%= @rushee.email %></td></tr>
        <tr><td>Action Status</td><td><%= @rushee.action_status %></td></tr>
        <tr><td>Bid Status</td><td><%= @rushee.bid_status %></td></tr>

      </table>
    </td>

    <% if @rushee.events %>
      <td valign="top">
        <table class="table">
          <tr><th>Event</th><th>Date</th></tr>
          <% @rushee.events.each do |event| %>
            <tr><td><%= link_to event.name, event_path(event) %></td><td><%= event.date.strftime("%d-%m-%Y") %></td></tr>
          <% end %>
        </table>
      </td>
    <% end %>

  </tr>
</table>


<h3>Edit Information</h3>
<%= link_to 'Edit ' + @rushee.firstname + ' ' + @rushee.lastname, edit_rushee_path(@rushee) %>

<% if current_brother.is_admin %>
  <h3>Administrator Controls</h3>
  <%= link_to "Delete #{@rushee.firstname} #{@rushee.lastname}", @rushee, :method => :delete, :title => "Delete rushee", data: {confirm: "Delete #{@rushee.firstname} #{@rushee.lastname}?"} %>
<% end %>

<h3>Comments</h3>
<div class="comments-container">
  <table class="table">
  <tr>
    <td>
    <%= form_tag( { :action => :comment }, { :method => :post }) %>
      
      
        <input type="hidden" name="id" value="<%= @rushee.id %>">
        <textarea style="width:450px;height:100px;" name="text"></textarea><br/>
        <input type="submit" value="Post Comment">
      </form>
    
    </td>
  </tr>
  <% if @comments.length > 0 %>
      <% @comments.reverse_each do |comment| %>
        <tr>
          <td>
            <a href="/accounts/detail/<%= comment.brother.id %>"><%= comment.brother.firstname + " " + comment.brother.lastname %></a> said <%= time_ago_in_words(comment.created_at) %> ago: <br/><br/><%= comment.text %>
          </td>
        </tr>
      <% end %>
    
  <% else %>
    <tr>
      <td>No comments yet.</td>
    </tr>
  <% end %>
  </table>
</div>
