<nav class="navbar navbar-top" role="navigation">
  <div class="navbar-header">
    
  </div>
    <a class="navbar-brand" <%= link_to "RUSHtracker", rushees_path %></a>
      <ul class="nav navbar-nav navbar-left">
        <% if current_brother %>
          <!--<li><p class="navbar-text"><%= "Logged in as #{current_brother.firstname} #{current_brother.lastname} "%></p></li>-->
          <li><p class="navbar-text"><%= link_to "Rushees", rushees_path %></p></li>
          <li><p class="navbar-text"><%= link_to "Presentation", presentation_path %></p></li>
          <li><p class="navbar-text"><%= link_to "Brothers", accounts_path %></p></li>
          <li><p class="navbar-text"><%= link_to "Events", events_path %></p></li>
          <li><p class="navbar-text"><%= link_to "Reminders", new_action_path %></p></li>
          <li><p class="navbar-text"><%= link_to "Settings", edit_brother_registration_path %></p></li>
          <li><p class="navbar-text"><%= link_to "Sign out", destroy_brother_session_path, :method => :delete %></p></li>
        <% else %>
          <li><p class="navbar-text pull-right"><%= link_to "Sign In", new_brother_session_path %></p></li>
          <li><p class="navbar-text pull-right"><%= link_to "Sign Up", new_brother_registration_path %></p></li>
        <% end %>
      </ul>                
</nav>
