<h1><%= @brother.fraternity.name %> Brother Account Details</h1>
<h3><%= @brother.firstname + " " + @brother.lastname %> (<%= @brother.email %>)</h3>

<h3>Primary Contact For:</h3>
<ul>
<% if @rushees.length > 0 %>
  <% @rushees.each do |rushee| %>
    <li><a href="/rushees/<%= rushee.id %>"><%= rushee.firstname + " " + rushee.lastname %></a></li>
  <% end %>
<% end %>
</ul>


<% if current_brother.is_admin %>
<br/>
<br/>

<h3>Administrator Controls:</h3>
<ul>
  <li><a href="#">Assign Rushee</a></li>
  <% if @current_brother != @brother %>
    <li><a onclick="return confirm('Are you sure you want to delete <%= @brother.firstname + " " + @brother.lastname %> (<%= @brother.email %>)?')" href="/accounts/deny/<%= @brother.id %>">Deactivate</a></li>
  <% end %>
</ul>
<% end %>
