<h1>List of Brothers in Your Frat</h1>

<% if @brothers.length > 0 %>
  <table>

    <tr>
      <th>Name</th><th>Email</th><th>Rushees</th>
    </tr>
    <% @brothers.each do |brother| %>
      <tr>
        <td><%= brother.firstname %> <%= brother.lastname %></td><td><%= brother.email %></td><td> </td>
      </tr>

      <% end %>


  </table>
<% end %>


<% if current_brother.is_admin and @pending_bros.length > 0 %>

  <h2>Pending Brothers</h2>
  <table>
    <tr>
      <th>Name</th><th>Email</th><th>Rushees</th>
    </tr>
    <% @pending_bros.each do |brother| %>
      <tr>
        <td><%= brother.firstname %> <%= brother.lastname %></td><td><%= brother.email %></td><td> </td>
      </tr>
    <% end %>
  </table>

<% end %>
